/* potential hues to consider: 236, 173 */


@property --bgColor{
	syntax:"<color>";
	inherits:false;
	initial-value: hsl(173,60%,70%);
}

@property --textColor{
	syntax:"<color>";
	inherits:false;
	initial-value: hsl(173,100%,3%);
}

@property --textBgColor{
	syntax:"<color>";
	inherits:false;
	initial-value: hsl(173,100%,90%);
}

@property --darkerTextBgColor{
	syntax:"<color>";
	inherits:false;
	initial-value: hsl(173,80%,80%);
}

@property --buttonBgColor{
	syntax:"<color>";
	inherits:false;
	initial-value: hsl(173,100%,88%);
}

@property --borderColor{
	syntax:"<color>";
	inherits:false;
	initial-value: hsl(170,30%,30%);
}

@property --lighterBorderColor{
	syntax:"<color>";
	inherits:false;
	initial-value: hsl(170,30%,45%);
}

@property --reqDefaultColor{
	syntax:"<color>";
	inherits:false;
	initial-value: hsl(173,100%,35%);
}

@property --requiredColor{
	syntax:"<color>";
	inherits:false;
	initial-value: hsl(173,100%,16%);
}




body{
	background-color: var(--bgColor);
	font-family: sans-serif;
	color:var(--textColor);
	max-width: 100vw;
}

h1{
	max-font-size: 3em;
	font-size: calc(60vw / 25);
	margin: 5px;
	max-width: 60%;
	max-height: 3em;
	overflow: auto;
}

.text{
	background-color:var(--textBgColor);
	border-color: var(--lighterBorderColor) var(--borderColor) var(--borderColor) var(--lighterBorderColor);
	border-style: solid;
	border-width:2px;	
	border-radius: 2px;
}

.description{
	border-radius: 4px;
	position: absolute;
	max-width: 57%;
	padding:0.5em;
	max-height: calc(40vh - 3em);
	overflow: auto;
	box-sizing: border-box;
}

.description > p{
	max-height: calc(40vh - 5em);
	overflow: auto;
}

h2{
	font-size: 1.7em;
}

#characterlineup{
	position:absolute;
	top:2%;
	right:2%;
	height:25%;
	max-width: 40%;
	display: flex;
	flex-direction: row;
	overflow: auto;
	margin:0px;
}

.character{

	height: 100%;	/*calc(100% - 4.5vh);*/
	user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#dragdropfilters{
	position:absolute;
	top: 30vh;
	right:5vw;

	user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    max-height:8vh;
    max-width: 28vw;

    display: flex;
	flex-direction: row;
	overflow: auto;
}

.dragdrop{
	max-height:8vh;
	max-width: calc(28vw / 4 - 4px);
	height: auto;
    width: auto;
	cursor: pointer;
	margin-right:2px;
	margin-left:2px;
	user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    float:left;
}

#dragged{
	height:8%;
	cursor: pointer;
	position:fixed;
	top:0px;
	lefT:0px;
}

#qandreqelement{
	position:absolute;
	top:40%;
	left:0%;
	padding-left: 0.1em;
	width:100%;
	max-height:55%;
	overflow: scroll;
	margin:0px;
	box-sizing: border-box; 
}

#questionselement{
	/*
	max-width:67vw;
	*/
	max-width: 70vw;

	box-sizing: border-box;

}

.question{
	margin-left:0.5em;
	margin-right:0.5em;
	margin-top:0.25em;
	margin-bottom:0.25em;
	padding:0.25em;
	box-sizing: border-box;
	border-radius: 6px;


}

#requirementselement{

	border-radius: 6px;
	position:absolute;
	right:5%;
	top:0vh;
	max-width: 28vw;
	overflow:show;
}

.inlinedragdrop{
	position:absolute;
	float: none;

}

.requirementsline{
	height:1.5em;
	padding-bottom:0.25em;
	padding-top:0.25em;
	margin-top:0.25em;
	margin-bottom:0.25em;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
}

.requirementssquare{
	height:1em;
	box-sizing: border-box;


	background-color: var(--bgColor);
	border:none;
/*	border: 2px solid var(--borderColor);
	border-radius: 3px;
	background-color: var(--reqDefaultColor);
*/	overflow: hidden;
	margin-right:4px;
	margin-left:0px;
	margin-top:0.25em;
	margin-bottom:0.25em;
	float:left;
}

.notapplicable{
	background-color: var(--bgColor);
	border:none;
}
/*
.required{
	background-color:var(--requiredColor);
}
*/

#nextsectionbutton{
	position:fixed;
	right:5%;
	bottom:1%;
	font-size: 1.3em;
	color: var(--textColor);
	background-color: var(--buttonBgColor);
	border-radius: 6px;
}

#prevsectionbutton{
	visibility: hidden;
	position:fixed;
	right:calc(5% + 10em);
	bottom:1%;
	font-size: 1.3em;
	color: var(--textColor);
	background-color: var(--buttonBgColor);
	border-radius: 6px;
}
/*
#textorganiser{
	width:100%;
	height:4.5vh;
	position:absolute;
	top:calc(100% - 4.5vh);
	overflow:auto;
}


.groupname{
	border-width:0.13em;
	display: flex;
	justify-content: center;
	align-items: center;
	margin:0px;
	width:17%;
	height:90%;
	text-align: center;
	overflow: auto;
	top:0px;
	font-size: 0.9em;
	box-sizing: border-box;

}

.firstname{
	position:absolute;
	left:0%;
}

.secondname{
	position:absolute;
	left:20%;
}

.thirdname{
	position:absolute;
	left:40%;
}

.fourthname{
	position:absolute;
	left:60%;
}

.fifthname{
	position:absolute;
	left:80%;
	width:18%;
}
*/
.popuponhover{

}

.popup{
	visibility: hidden;
	position:fixed;
	z-index: -9;
	padding:0.3em;
}

.break{
	text-align: center;
	background-color: var(--darkerTextBgColor);
}

@media only screen and (orientation: portrait){

	body{
		padding-right:0px;
		padding-bottom:2em;
		margin-right: 0px;
	}

	h1{
		max-width: 100%;
		font-size: 3em;
		max-height: none;
	}

	.description{
		position: relative;
		max-width: 99%;
		box-sizing: border-box;
		padding:0.5em;
		max-height: none;
		display: block;
		margin-left:0px;
		margin-right:0px;
	}

	.description > p{
		max-height: none;
	}

	#characterlineup{
		position:relative;
		max-width: 96vw;
		left:2vw;
		display: flex;
		flex-direction: row;
		overflow: auto;
		margin:0px;
		margin-bottom:0.5em;
	}

	.character{

		max-width:20%;
		user-drag: none;
	    -webkit-user-drag: none;
	    user-select: none;
	    -moz-user-select: none;
	    -webkit-user-select: none;
	    -ms-user-select: none;
	}

	#textorganiser{
		width:100%;
		height:2.4em;
		display:flex;
		position:absolute;
		top:100%;/*calc(100% - 2.2em);*/
		overflow:auto;
	}

	.groupname{
		max-width:20vw;
	}


	#dragdropfilters{
		margin-right: 0px;
		margin-left:auto;
		position:static;
		max-height:10vh;
		user-drag: none;
	    -webkit-user-drag: none;
	    user-select: none;
	    -moz-user-select: none;
	    -webkit-user-select: none;
	    -ms-user-select: none;
	    max-width: 40vw;
	    display: flex;
		flex-direction: row;

	}

	.dragdrop{
		max-width:20%;
		cursor: pointer;
		margin-left:2px;
		margin-right: 2px;
		user-drag: none;
	    -webkit-user-drag: none;
	    user-select: none;
	    -moz-user-select: none;
	    -webkit-user-select: none;
	    -ms-user-select: none;
	    float:right;
	}


	#dragged{
		width:8vw;
		height:auto;
		max-height:8vh;
		cursor: pointer;
		position:fixed;
		top:0px;
		lefT:0px;
	}


	#qandreqelement{
		position:relative;
		top:0%;
		left:0%;
		width:100vw;
		padding:0px;
		max-height:60vh;
		overflow: scroll;
		margin:0px;
		box-sizing: border-box; 
	}

	#questionselement{
		max-width:58vw;

	}

	#requirementselement{
		max-width: 40vw;
		overflow:auto;
		right:1vw;
	}

}